.grid-container{
    display: grid;
    width: 100vw;
    grid-template-rows: repeat(3, 200px);
    grid-template-areas: "box1"
                         "box2"
                         "box3";
    grid-gap: 10px;
    position: absolute;
    top: 20%;
    align-items: center;
    justify-items: center;
}

.box{
    background-color: #CDBCB1;
    border-radius: 30px;
    width: 300px;
    height: 110px;
    padding: 10px;
    text-align: center;
    transition: 0.7s;
}

.box:hover{
    padding: 20px;
    transform: rotate(360deg);
    transition-delay: 0;
    transition: all 0.7s;
    background-color: black;
    color: white;
    box-shadow: 0 0 0 4px rgba(241, 135, 153, 4);
}

.item1{
    grid-area: box1;
}

.item2{
    grid-area: box2;
}

.item3{
    grid-area: box3;
}

.button{
    border-radius:10px;
    border: 3px;
    padding: 8px;
    transition-duration: 0.7s;
}

.button:hover{
    background-color: pink;
    transition-duration: 0.7s;
    box-shadow: 0 0 0 4px rgb(241, 135, 153);
}

@media(max-width: 600px){
    .grid-container{
        top: 40%;
        max-width: 1200px;
        grid-template-columns: minmax(0, 1fr);
        margin: 0;
    }

    .box{
        background-color: #CDBCB1;
        border-radius: 30px;
        width: 200px;
        height: 110px;
    }
}